body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 400px;
    margin: auto;
    background: yellowgreen;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#result{
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-align: center;
}