body{
    font-family: Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.432);
    margin: 3px;
    padding: 20px;
}
.container{
    max-width: 400px;
    margin: auto;
    background: yellowgreen;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#result{
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    text-align: center;
}